<% include header %>
        <div class="content">
                  <p>
                        <b>Personal Details:</b>
                                    Born into a regular middle class family on April 11, 1990 in Hyderabad. Both my parent were working as Class 1 offices, they used to be transfered every 4-5 years, so had to change a few schools and colleges.
                                    Was a very shy guys in my childhood and teens. Had too little friends to hangout with so all my dedication was to be put somewhere. Onday a friend suggested a PC Game to me.
                                    Then started the Phase where you get addicted to something so much that it could ruin your life. Have been a Gamer for more than 10 years and hopefully will be for the rest of my life.
                  </p>
                  <p>
                        <b> About my Career:</b> 
                                    While in enginerring completed my certification from NIIT in Java and SQL.I started off as a Web designer with a project linking some of the colleges in Hyderabad to one single database, which provided a platform for students and faculty of different colleges to interact and learn.
                                    Later on moved to bangalore to Persue my higher education. During my 5 years in bangalore i worked for 3 companies while persuing my MBA with HR as my specialisation. The Last company i worked for was NTT Data.inc(Previously Known as Dell Services)as a Team Lead.
                                    My ambition is to complete my MS, after i get a bit of international Exposure return to Hyderabad to Setup my own company.
                  </p>
            </div>

            <% include footer %>
