<% include header %>
<div class="content">
    <h3>Tic Tac Toe</h3>



    <fieldset>
    <p>Please Reload The Page To Choose Player Who Goes First Again</p>
    
    <div class="tic">
    <table>
      <tr>
        <td id="cell_0_0" class="cell" onClick="JavaScript: clickCell(0,0);">&nbsp;</td>
        <td id="cell_0_1" class="cell" onClick="JavaScript: clickCell(0,1);">&nbsp;</td>
        <td id="cell_0_2" class="cell" onClick="JavaScript: clickCell(0,2);">&nbsp;</td>
      </tr>
        <tr>
        <td id="cell_1_0" class="cell" onClick="JavaScript: clickCell(1,0);">&nbsp;</td>
        <td id="cell_1_1" class="cell" onClick="JavaScript: clickCell(1,1);">&nbsp;</td>
        <td id="cell_1_2" class="cell" onClick="JavaScript: clickCell(1,2);">&nbsp;</td>
      </tr>
        <tr>
        <td id="cell_2_0" class="cell" onClick="JavaScript: clickCell(2,0);">&nbsp;</td>
        <td id="cell_2_1" class="cell" onClick="JavaScript: clickCell(2,1);">&nbsp;</td>
        <td id="cell_2_2" class="cell" onClick="JavaScript: clickCell(2,2);">&nbsp;</td>
      </tr>
      </table>
      </div>
    <input type=button onClick="Javascript: reset();" value="Reset">
      <br/><br/>
      <% include footer %>