<% include header %>
<div class="contact-form">
    <h2>Get in Touch</h2>
    <form method="POST" action="/contact">
        <div class="txtb">
            <label>Full Name :</label>
            <input type="text" name="name"  placeholder="Enter your Name">
        </div>

        <div class="txtb">
            <label>Email :</label>
            <input type="email" name="email"  placeholder="Enter your email">
        </div>

        <div class="txtb">
            <label>Message :</label>
            <textarea name="message" cols="30" rows="10"></textarea>
        </div>
        <!-- <a href="mailto:archerblazek@gmail.com" class="btn1">Send</a> -->
        <button type="submit">Send</button>
    </form>
</div>
<% include footer %>