<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  
  
	<title>About Marton Bagoly</title>
</head> 
    <ul>
        <li id = "mart">-- Marton's Webpage --<li>
            <li><a href="/index">Home</a></li>
            <li><a href="/form">Contact</a></li>
            <li><a href="/tic-tac-toe">Tic-Tac-Toe</a></li>
            <li><a href="/Eggs">Calculate Eggs</a></li>
      </ul>
<body>

<header>