<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio @Archer1147</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>
<body>
    <header class="v-header container">
    <div class="fullscreen-video-wrap">
    <video id="video" autoplay loop muted>
        <source src="/images/Alive.mp4" type="video/mp4">
    </video></div>
    <div class="header-overlay"></div>
    <div class="header-content">
        <h1>Hello Everyone</h1>
        <P>Let me welcome you to my website. This is a project i have started after a long time.
            I really hope you like it.
        </P>
        <a href="/about" class="btn">Read More..</a>
    </div>
</header>
</body>
</html>